.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 13px;
  cursor: row-resize;
  background-color: hsl(var(--border));
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
  margin-top: 0;
}

.text-editor ol {
  list-style-type: decimal !important;
}

.text-editor ul {
  list-style-type: disc !important;
}
